node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
firebase-admin.json
.firebaserc
.firebase/
firebase-debug.log
firestore-debug.log
.DS_Store
Thumbs.db
.vscode/
dist/
build/
package-lock.json
package.json
getToken.js